.dataBox{
    width: 70%;
}

td, tr{
    border-bottom: gray solid 2px;
    margin: 10px;
}


.a1{
    width: 65%;
    background-color: rgb(129, 0, 39);
    border: solid black 2px;
    border-radius: 5px;
    margin: 10px;
}

.restInfo{
    display: inline-block;
    border-collapse: unset;
    color: honeydew;
    margin: 10px 100px 10px 5px;
}

.restDescription{
    display: none;
}