.dataBox{
    width: 70%;
}
table{
    border-collapse: collapse;
    width:64%;
    margin-left: 10px;
    background-color: rgb(126, 0, 38);
    color: honeydew;
}

td, tr{
    border-bottom: gray solid 2px;
    padding: 5px;
}


.a1{
    width: 65%;
    background-color: gray;
    border: solid black 2px;
}

.restInfo{
    display: inline-block;
    border: black solid 1px;
}

.restDescription{
    display: none;
}