.dataBox{
    width: 70%;
}

#searchbox{
    width: 10%;
    position: relative;
}

.a1 {
	display: grid;
	grid-template-columns: 250px 160px 160px 150px;
	justify-content: left;
	width: 65%;
	background-image: linear-gradient(to right, rgb(129, 0, 39) 60%, white);
	/* border: solid black 2px; */
	border-radius: 5px;
}

.a1 > .restInfo{
    text-align: center;
    color: ivory;
    margin: 10px;
}

.restDescription{
    display: none;
}

