.header {
    height: 50px;
    width: 100%;
    background: rgb(129, 0, 39);
    color: ivory;
    border-radius: 0 0 5px 5px;
    text-align: center;
    }

    h1 {
        display: inline-block;
        user-select: none;
    }
    
    h2 {
        display: inline-block;
        margin: auto 5%;
        user-select: none;
    }

    h2:hover {
        opacity: 0.8;
    }

    