.contentbox {
    width: 70%;
    margin: auto;
    background: rgb(129, 0, 39);
    border-radius: 15px;
    text-align: center;
    color: ivory;
    margin-top: 30px;
    margin-bottom: 20px;
}

button{
    
    margin-bottom: 20px;
}

.contentbox > button {
    width: auto;
}

.contentbox img {
 width: 50%;
 height: auto;
 margin-bottom: 20px;
}
