.contentbox {
    background-color: #DCDCDC;
    width: 75%;
    height: 100%;
    margin: auto;
    margin-bottom: 25px;
}

p {
    color: ivory;
}

.header {
    text-align: center;
    color: ivory;
}

.loginbox {
    border: 1px solid black;
    background-color: rgb(129, 0, 39);
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.textinputcontainer {
    width: 125px;
    margin:  auto;
}
.textinput {
    width: 100%;
    margin:  auto;
    


}


.logincontainer > button {
    width: 100%;
    margin:  auto;
  }

.logincontainer {
    width: 75px;
    margin:  auto;
}
