

.contentbox {
    width:95%;
    margin: auto;
}

.menu {
	background-color: rgb(129, 0, 39);
	width: 29%;
	height: 550px;
	float: left;
	margin: 50px auto;
}

.map {
	display: inline-block;
	margin: 50px 0 0 5%;
	width: 65%;
	height: 550px;
}

p {
    color:ivory
}